Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_warranty, test_rma_server, pack_rma_server_staging, pack_rma_frontend_staging, pack_rma_warranty_staging, deploy_staging_frontend, deploy_staging_server, deploy_staging_warranty, pack_rma_server_prod, pack_rma_frontend_prod, pack_rma_warranty_prod

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_warranty: any of: packages/rma-warranty/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server_staging: any of: packages/rma-server/**/*
  pack_rma_frontend_staging: any of: packages/rma-frontend/**/*
  pack_rma_warranty_staging: any of: packages/rma-warranty/**/*
  deploy_staging_frontend: any of: packages/rma-frontend/**/*
  deploy_staging_server: any of: packages/rma-server/**/*
  deploy_staging_warranty: any of: packages/rma-warranty/**/*
  pack_rma_server_prod: any of: packages/rma-server/**/*
  pack_rma_frontend_prod: any of: packages/rma-frontend/**/*
  pack_rma_warranty_prod: any of: packages/rma-warranty/**/*

ci: pack rma-pos
  .gitlab-ci.yml
  packages/rma-pos/Dockerfile
Due: none

feat(rma-warranty): added bulk claim parent button
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
Due: test_rma_warranty, pack_rma_warranty_staging, deploy_staging_warranty, pack_rma_warranty_prod

fix(rma-warranty): fix bulk claim parent button
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
Due: test_rma_warranty, pack_rma_warranty_staging, deploy_staging_warranty, pack_rma_warranty_prod

feat(rma-server):Fixed Third Party Serial Revert Validation
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

fix(rma-warranty): show bulk claim number
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
Due: test_rma_warranty, pack_rma_warranty_staging, deploy_staging_warranty, pack_rma_warranty_prod

fix(rma-server):Serial No History Tweaks Fixes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

fix(rma-pos):Updated Add POS Page UI
  packages/rma-pos/src/app/material/material.module.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: none

feat(rma-pos): items grid in sales invoice
  packages/rma-pos/src/app/common/interfaces/search-fields.interface.ts
  packages/rma-pos/src/app/material/material.module.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-pos/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
Due: none

fix:(rma-pos):Integrate Pos Grid UI
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
Due: none

fix:(rma-pos):Wire Sales Invoice Ui and Delivery Notes
  packages/rma-pos/src/app/common/interfaces/sales.interface.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

fix:(rma-pos):Minor Fixes
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: none

fix(CI-file):Added POS YAML Configurations
  .gitlab-ci.yml
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

fix(CI-file):Added POS YAML Configurations
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

fix(CI-file):Added POS YAML Configurations
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: none

feat(rma-warranty):Minor Fixes Warranty
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/constants/app-string.ts
Due: test_rma_warranty, test_rma_server, pack_rma_server_staging, pack_rma_warranty_staging, deploy_staging_server, deploy_staging_warranty, pack_rma_server_prod, pack_rma_warranty_prod

fix:(rma-server):Minor Fixes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

fix:(rma-server):Warranty End Date Issues
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_warranty, test_rma_server, pack_rma_server_staging, pack_rma_warranty_staging, deploy_staging_server, deploy_staging_warranty, pack_rma_server_prod, pack_rma_warranty_prod

fix:(rma-server):Warranty End Date Issues
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_warranty, test_rma_server, pack_rma_server_staging, pack_rma_warranty_staging, deploy_staging_server, deploy_staging_warranty, pack_rma_server_prod, pack_rma_warranty_prod

fix:(rma-pos):Updated POS UI
  packages/rma-pos/src/app/app.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
Due: none

Task: Creation of Tax and Sale template in rma-frontend and rma-server
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/system-settings/controllers/setup/setup.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server_staging, pack_rma_frontend_staging, deploy_staging_frontend, deploy_staging_server, pack_rma_server_prod, pack_rma_frontend_prod

Task: Html of detail fixed according to UI
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
Due: none

modify:item-cards-ui
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

Task : Table and payment info UI of POS completed
  packages/rma-pos/src/app/common/interfaces/sales.interface.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/drafts-datasource.ts
Due: none

Merge Branch
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: none

Merge Branch
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: none

modify-Pos-ui:add buttons, anchor tags,
  packages/rma-pos/src/app/app.module.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/payment-dialogue/payment-dialogue.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/payment-dialogue/payment-dialogue.component.scss
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/payment-dialogue/payment-dialogue.component.spec.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/payment-dialogue/payment-dialogue.component.ts
Due: none

Task: Endpoints for fetch images against each item card
  packages/rma-pos/src/app/constants/url-strings.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

modify-Pos-ui: make-payment-popup-ui
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/payment-dialogue/payment-dialogue.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/payment-dialogue/payment-dialogue.component.scss
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/payment-dialogue/payment-dialogue.component.ts
Due: none

Task: customer create dialog box and fetching the respective territory list task completed
  packages/rma-pos/src/app/app.module.ts
  packages/rma-pos/src/app/common/interfaces/sales.interface.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.scss
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.spec.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.ts
  packages/rma-pos/src/app/sales-ui/sales-ui.module.ts
Due: none

Task: Customer Creation Modal fetching customer groups and searching them on frontend task completed
  packages/rma-pos/src/app/constants/url-strings.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
Due: test_rma_server, pack_rma_server_staging, deploy_staging_server, pack_rma_server_prod

Task: Creation of customr mobileno field and fetching data to display inside the mobileno div completed
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.ts
  packages/rma-pos/src/global.scss
Due: none

task-Make Draft: Making Draft Lists
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: none

POS UI: In progress
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
Due: none

Task: filtration of customer list according to mobile no task completed
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: none

Task: DraftList data validation and fetching data by uuid
  packages/rma-pos/src/app/common/interfaces/sales.interface.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: none

TASK: Draft List Dialog (POPUP DATA FETCHING)
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/draft-list/draft-list.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/draft-list/draft-list.component.ts
Due: none

Task: Draft list
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: none

Task: Validate create customer form and make chips of items in html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
Due: none

Task: task for creation of customer if not found in search resolved
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/customer-create-dialog/customer-create-dialog.component.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
Due: none

Task: Draft popup dialog component building(completed) fully functional
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-pos-invoice.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/draft-list/draft-list.component.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/draft-list/draft-list.component.ts
  packages/rma-pos/src/global.scss
Due: none
